.Blogs {
  background: center center no-repeat;
  background-image: url("../../images/black-bg.png");
  color: #fffffc;
  padding: 100px 47px 72px;
}

.Blogs .all-blogs {
  padding: 0 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 57px;
}
